# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
* @andresteve07 @marianoaguero @miglierinicarlos

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# Codeowner file
.github/CODEOWNERS @andresteve07 @marianoaguero @miglierinicarlos

# Protected folders
app/    @andresteve07 @marianoaguero @miglierinicarlos

# Gradle files
dependencies.gradle @andesteve07 @marianoaguero @miglierinicarlos
/gradle/ @andresteve07 @marianoaguero @miglierinicarlos
/build.gradle @andresteve07 @marianoaguero @miglierinicarlos
/gradle.properties @andresteve07 @marianoaguero @miglierinicarlos
